rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pixels/{document=**} {
      allow read, write: if true;
    }
    match /history/{document=**} {
      allow read, write: if true;
    }
    match /pixelpicker_analytics/{document=**} {
      allow read, write: if true;
    }
    match /pixelpicker_events/{document=**} {
      allow read, write: if true;
    }
  }
}
